:root {
    --main-bg-color: #261C2C;
    --main-font-color: #84DFFF;
  }

@font-face {
    font-family: "GortonDigitalRegular";
    src: url("./GortonDigitalRegular.otf");
  }

* {
    font-family: 'GortonDigitalRegular', serif;
    color: var(--main-font-color);
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #3E2C41;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 5px 5px 0px 5px #312333;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    background-color: #5C527F;
    box-shadow: 5px 5px 10px -3px #00000030, -5px -5px 15px 3px #00000010;
}

button:active {
    background-color: #50486e;
    box-shadow: inset 2px 2px 0px #00000030;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000030;
}

#current-value {
    font-size: 1.5em;
}

#previous-value {
    font-size: 2em;
}